div.holiday-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

img {
  border-radius: 10%;
  width: 75px;
  height: 75px;
}

div.holiday-details {
  margin-left: 10px;
}

h1 {
  color: #6a2faa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  text-align: left;
  padding: 1px;
  margin: 0%;
}

.holiday-date {
  color: #6a2faa;
  font-weight:lighter;
  font-size: 0.6em;
}

.holiday-future {
  color: #ff0000;
  font-weight: lighter;
  font-size: 0.6em;
  font-style: italic;
}

.highlighted-date {
  background-color: gold;
  border: 2px solid darkred;
  padding: 5px;
  border-radius: 5px;
}

.btn.btn-danger {
  margin-left: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}