.title {
    color: rgba(86, 120, 25, 0.674);
    font-style: normal;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.sub-title {
    color: rgba(144, 65, 4, 0.734);
    font-style: italic;
    font-size: medium;
    text-align: center;
    margin-top: 10px;
}

.banner {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    background-image: url('/images/banner-bg.jpg');
    background-size: cover;
}