p.placeholder {
  color: rgba(106, 47, 170, 0.674);
  font-style: normal;
  font-weight: lighter;
  font-size: x-small;
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
}

div.holiday-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li.holiday-item {
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div.holiday-details {
  margin-left: 10px;
}

img {
  border-radius: 10%;
  width: 75px;
  height: 75px;
}

h1 {
  color: #6a2faa;
  font-size: 1.5em;
  text-align: left;
  padding: 1px;
  margin: 0%;
}

.holiday-date {
  color: #6a2faa;
  font-weight:lighter;
  font-size: 0.6em;
}

.holiday-future {
  color: #ff0000;
  font-weight: lighter;
  font-size: 0.6em;
  font-style: italic;
}